{#
/**
 * @file views-tailwind-grid.html.twig
 * Default simple view template to display Tailwind Grids.
 * - rows: Contains a nested array of rows. Each row contains an array of columns.
 * @ingroup views_templates
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div id="{{ id }}" >
  <div class="grid grid-cols-12">
    {% for row in rows %}
      <div {{ row_attributes.addClass(options.row_class) }}>
        {{ row }}
      </div>
    {% endfor %}
  </div>
</div>
